@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
	--purple-color: #6666cc;
	--green-color: #55c97b;
	--grey-color: #b1b1b1;
	--main-text-color: #7d7d7d;
	--dark-text-color: #343434;
	--bs-breadcrumb-divider: url('../images/icon-arrow.svg');
}

body {
	min-width: 320px;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	color: var(--main-text-color);
	text-decoration: none;
}


.header {
	box-shadow: 0px 0px 38px 0px rgba(136, 167, 245, 0.08);;
}

.nav-item {
	position: relative;
}

.nav-link {
	color: var(--main-text-color);
}

.nav-link:hover,
.nav-link:active,
.nav-link.active {
	color: var(--dark-text-color);
}

.icon {
	width: 20px;
	height: 20px;
	fill: var(--main-text-color);
}

.nav-link.active .icon,
.nav-link:hover .icon {
	fill: var(--purple-color);
}

.nav-link.active::before {
	content: '';
	display: block;
	width: 4px;
	height: 50px;
	position: absolute;
	left: -12px;
  top: 3px;
	background-color: var(--purple-color);
}

.breadcrumb {
	font-size: 12px;
}

.breadcrumb-item+.breadcrumb-item::before {
	content: url('../images/icon-arrow.svg');
}

.messages {
	position: relative;
	width: 65px;
	height: 65px;
	border: 1px solid var(--main-text-color);
	border-radius: 5px;
	transition: all .5s ease-out;
}

.messages.new::after {
	content: '';
	position: absolute;
	top: 17px;
  right: 17px;
	display: block;
	width: 12px;
	height: 12px;
	background-color: #e42626;
	border: 3px solid #ffffff;
	border-radius: 50%;
}

.messages:hover {
	background-color: var(--main-text-color);
	opacity: .8;
}

.messages:hover .icon {
	fill: #ffffff;
	opacity: .8;
}

.user {
	box-shadow: 0px 0px 16px 0px rgba(136, 167, 245, 0.18);
}

.btn {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #ffffff;
}

.btn:hover {
	opacity: .8;
	color: #ffffff;
}

.btn--green {
	background-color: var(--green-color);
}

.btn span {
	font-size: 20px;
	font-weight: 700;
}

.page__title {
	font-size: 20px;
	color: var(--dark-text-color);
}


